.To-header{
  font-size: 35px;
  font-weight: 500;
  color: #f0f8ff;
  margin-left: 10px;
}

.addTodo{
  float: right;
  font-size: 16px;
  font-weight: 900;
  padding: 5px;
}

.navBar-color {
  background: linear-gradient(to right, #c94b4b, #4b134f);
}
.modal_label{
  font-size: 20px;
  font-weight: bold;
}
.background {
  background: #f2f3f8;
  min-height: 100vh;
}

.noRecord{
  font-size: 20px;
  font-weight: 500;
}